img.logo {
    width: 250px;
    height: 110px;
}

.navbar {
    background-color: #FBBA72;
    height: 100px;
    
}

.page-body-header {
    background-color: #F4E8C1;
    width: 90%;
}

.page-body {
    /* background-color: #F3DE8A; */
    background-color: #F4E8C1;
    width: 90%;
    justify-content: center;
}

.footer {
    font-size: small;
}

.screen {
    font-size: large;
}

.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.id-bg-on {
    background-color: #08a75d;
    color: white;
}

.id-bg-off {
    background-color: #f4495a;
    color: white;
}

.ig-bg-un {
    background-color: #99a0a7;
    color: black;
}

.btn {
    white-space: normal;
    word-wrap: break-word;
}

.modal-title {
    white-space: unset;
    word-wrap: break-word;
}